.mainSection {
      margin-top: 8rem;
      width: 100vw;
}

.shopContainer {
      height: 100%;
      width: 80%;
      display: grid;
      margin: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 50px;
}