.NavBar {
      width: 100%;
      top: 0;
      left: 0;
      height: calc(2rem + 4vh);
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 3vw;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      position: fixed;

}

.navList {
      width: calc(20rem + 20vw);
      display: flex;
      gap: 40px;
      justify-content: space-evenly;
      font-size: 0.8rem;
      height: 100%;
      align-items: center;
}

.navElement {
      position: relative;
      transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.navElement:hover {
      transform: scale(1.06);
      font-weight: 500;
}

.navElement::before {
      height: 0%;
      margin-left: calc(-1*(0.2rem + 0.5vw));
      width: 0px;
      content: "";
      border-left: 0px solid black;
      border-right: 0px solid black;
      position: absolute;
      transition: height 0.3s ease-in-out, width 0.3s ease-in-out, border 0.2s ease-in-out;
      transition-delay: 50ms;
      transition-property: width;


}

.navElement:hover::before {
      height: 50%;
      width: 4px;
      border-left: 1px solid black;
      border-right: 1px solid black;
}